.grid_box{
    display: grid;
    grid-template-columns: 1fr 1fr;


}
h1{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
    font-size: 165px;
    text-align: center;
    letter-spacing: 30px;


}
img{
    grid-row: 1/3;
    grid-column:1/2 ;

}

h2{
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
    color: rgb(152, 42, 42);
    font-size: 80px;
    letter-spacing: 20px;
    text-align: center;

}

.background{
    background-color: rgb(175, 175, 175);
    grid-row: 1/3;
    grid-column: 2/3;
}