
@import url('https://fonts.googleapis.com/css2?family=Lora&family=PT+Sans+Narrow&display=swap');

/* Header CSS*/

header{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}
header .logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
header .right-side{
    grid-column: 3/4;
    margin-left: 100px;
}
.right-side a{
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}
.right-side a:hover{
    color:pink;
}
.right-side img{
    width: 40px;
    margin-left: 50px;
    margin-top: 5px;
}
header input{
    grid-column: 4/5;
    height: 30px;
    width: 300px;
    margin-right: 50px;
}



/* Index Body CSS */
body{
    margin:0;
}
#title-pic{
    text-align: center;
    margin-top: -100px;
}
#title-pic img{
    width: 50%;
}
.food-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-family: Lora;
    text-align: center;
}
.food-section h2{
    text-align: center;
    grid-column: 1/4;
    margin: 50px;
    font-family: Lora;
    font-size: xx-large;
    background-color: black;
    color: white;
    width: 300px;
    height: 100px;
    line-height: 100px;
}


.food-card1{
    margin-left: 300px;
    height: 350px;
    position: relative;
    grid-column: 1/2;
}
.food-card2{
    height: 350px;
    position: relative;
    grid-column: 2/3;
}
.food-card3{
    margin-right: 300px;
    height: 350px;
    position: relative;
    grid-column: 3/4;
}


.food-card1 img{
    transition: .5s ease;
}
.food-card2 img{
    transition: .5s ease;
}
.food-card3 img{
    transition: .5s ease;
}


.food-card1:hover img{
    opacity: .3;
}
.food-card2:hover img{
    opacity: .3;
}
.food-card3:hover img{
    opacity: .3;
}


.middle{
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.food-card1:hover .middle{
    opacity: 1;
}
.food-card2:hover .middle{
    opacity: 1;
}
.food-card3:hover .middle{
    opacity: 1;
}


.text{
    background-color: black;
    color: white;
    padding: 16px 32px;

}
.food-section img{
    width: 250px;
    height: 350px;
}

#portrait{
    width: 400px;
}
#background-pic{
    width: 100%;
    height: 500px;
}


/* About Us Body CSS */

#about-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
#about-us img{
    grid-row: 1/5;
    margin-left: 20%;
    margin-bottom: 30px;
    border: 5px solid tan;
}
#about-us h1{
    font-size: 2em;
    margin-left: -20px;
    margin-right: 20px;
}
#about-us hr{
    width: 95%;
    height: 1px;
    background-color: black;
    margin-right: 75px;
}
#about-us #side-paragraph{
    grid-column: 2/3;
    font-size: x-large;
    word-spacing: 2px;
    line-height: 30px;
    width: 90%;
}
#about-us #bottom-paragraph{
    grid-column: 2/3;
    font-size: x-large;
    width: 90%;
    font-size: x-large;
    word-spacing: 2px;
    line-height: 30px;
}


/* Footer CSS  */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
    justify-items: center;
    align-items: center;
    background-color: rgb(203, 201, 201);
}
footer .logo{
    width: 150px
}
#contact-info
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: large;
    margin-right: 75px;
}
#other-stuff{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: large;
    margin: 50px;
}
#icon-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.icon{
    width: 50px;
}

